# auto features

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import datetime as dt

df1 = pd.read_csv('Desktop/复赛/test/企业基本信息1.csv')
df1.columns = ['EID', 'rgcash', 'rgcashtype', 'etype', 'hy',
               'xkjy', 'ybjy', 'jyfw', 'rgdate', 'pnum', 'invnum', 'invcashtype']

In [2]:
df1['end'] = pd.to_datetime('2018/8')
df1.rgdate = pd.to_datetime(df1.rgdate)
df1['period'] = (df1.end.dt.year - df1.rgdate.dt.year)*12 + df1.end.dt.month - df1.rgdate.dt.month
df1.drop(['end'],axis=1,inplace=True)

In [3]:
import jieba
import jieba.analyse

jieba.analyse.set_stop_words('/home/ian/Desktop/idf.txt')

df1['fenci1'] = df1.jyfw.apply(lambda x: jieba.analyse.extract_tags(x,topK=100))
df1['fenci2'] = df1.ybjy.apply(lambda x: jieba.analyse.extract_tags(x,topK=100))
df1['fenci3'] = df1.xkjy.apply(lambda x: jieba.analyse.extract_tags(x,topK=100))

df1['jyfwfenci'] = df1.fenci1.map(lambda x: ' '.join(x))
df1['ybjyfenci'] = df1.fenci2.map(lambda x: ' '.join(x))
df1['xkjyfenci'] = df1.fenci3.map(lambda x: ' '.join(x))

corpus1 = df1['jyfwfenci']
corpus2 = df1['ybjyfenci']
corpus3 = df1['xkjyfenci']

from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(min_df=1)

jyfw_tfidf = pd.DataFrame(tfidf.fit_transform(corpus1).toarray())
ybjy_tfidf = pd.DataFrame(tfidf.fit_transform(corpus2).toarray())
xkjy_tfidf = pd.DataFrame(tfidf.fit_transform(corpus3).toarray())

Building prefix dict from the default dictionary ...
Loading model from cache /tmp/jieba.cache
Loading model cost 0.649 seconds.
Prefix dict has been built succesfully.

In [4]:
jyfw_tfidf.shape,ybjy_tfidf.shape,xkjy_tfidf.shape

((12518, 6954), (12518, 6912), (12518, 6912))

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import datetime as dt

df1 = pd.read_csv('Desktop/复赛/test/企业基本信息1.csv')
df1.columns = ['EID', 'rgcash', 'rgcashtype', 'etype', 'hy',
               'xkjy', 'ybjy', 'jyfw', 'rgdate', 'pnum', 'invnum', 'invcashtype']
#df1 = df1.drop(['invcashtype'],axis=1)
#df1.pnum.fillna(7,inplace=True)

df1['end'] = pd.to_datetime('2018/8')
df1.rgdate = pd.to_datetime(df1.rgdate)
df1['period'] = (df1.end.dt.year - df1.rgdate.dt.year)*12 + df1.end.dt.month - df1.rgdate.dt.month
df1.drop(['end'],axis=1,inplace=True)

#tfidf
import jieba
import jieba.analyse

jieba.analyse.set_stop_words('/home/ian/Desktop/idf.txt')

df1['fenci1'] = df1.jyfw.apply(lambda x: jieba.analyse.extract_tags(x,topK=100))
df1['fenci2'] = df1.ybjy.apply(lambda x: jieba.analyse.extract_tags(x,topK=100))
df1['fenci3'] = df1.xkjy.apply(lambda x: jieba.analyse.extract_tags(x,topK=100))

df1['jyfwfenci'] = df1.fenci1.map(lambda x: ' '.join(x))
df1['ybjyfenci'] = df1.fenci2.map(lambda x: ' '.join(x))
df1['xkjyfenci'] = df1.fenci3.map(lambda x: ' '.join(x))

corpus1 = df1['jyfwfenci']
corpus2 = df1['ybjyfenci']
corpus3 = df1['xkjyfenci']



from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(min_df=1)

jyfw_tfidf = pd.DataFrame(tfidf.fit_transform(corpus1).toarray())
ybjy_tfidf = pd.DataFrame(tfidf.fit_transform(corpus2).toarray())
xkjy_tfidf = pd.DataFrame(tfidf.fit_transform(corpus3).toarray())

jyfw_tfidf['jyfw_tfidf_sum'] = jyfw_tfidf.ix[:,0:6954].apply(lambda x: x.sum(), axis=1)
jyfw_tfidf['jyfw_tfidf_min'] = jyfw_tfidf.ix[:,0:6954].apply(lambda x: x.min(), axis=1)
jyfw_tfidf['jyfw_tfidf_max'] = jyfw_tfidf.ix[:,0:6954].apply(lambda x: x.max(), axis=1)
jyfw_tfidf['jyfw_tfidf_std'] = jyfw_tfidf.ix[:,0:6954].apply(lambda x: x.std(), axis=1)
jyfw_tfidf['jyfw_tfidf_mean'] = jyfw_tfidf.ix[:,0:6954].apply(lambda x: x.mean(), axis=1)

ybjy_tfidf['ybjy_tfidf_sum'] = ybjy_tfidf.ix[:,0:6912].apply(lambda x: x.sum(), axis=1)
ybjy_tfidf['ybjy_tfidf_min'] = ybjy_tfidf.ix[:,0:6912].apply(lambda x: x.min(), axis=1)
ybjy_tfidf['ybjy_tfidf_max'] = ybjy_tfidf.ix[:,0:6912].apply(lambda x: x.max(), axis=1)
ybjy_tfidf['ybjy_tfidf_std'] = ybjy_tfidf.ix[:,0:6912].apply(lambda x: x.std(), axis=1)
ybjy_tfidf['ybjy_tfidf_mean'] = ybjy_tfidf.ix[:,0:6912].apply(lambda x: x.mean(), axis=1)

xkjy_tfidf['xkjy_tfidf_sum'] = xkjy_tfidf.ix[:,0:6912].apply(lambda x: x.sum(), axis=1)
xkjy_tfidf['xkjy_tfidf_min'] = xkjy_tfidf.ix[:,0:6912].apply(lambda x: x.min(), axis=1)
xkjy_tfidf['xkjy_tfidf_max'] = xkjy_tfidf.ix[:,0:6912].apply(lambda x: x.max(), axis=1)
xkjy_tfidf['xkjy_tfidf_std'] = xkjy_tfidf.ix[:,0:6912].apply(lambda x: x.std(), axis=1)
xkjy_tfidf['xkjy_tfidf_mean'] = xkjy_tfidf.ix[:,0:6912].apply(lambda x: x.mean(), axis=1)

jyfw_tfidf_feat = jyfw_tfidf[[
    'jyfw_tfidf_sum', 'jyfw_tfidf_max', 'jyfw_tfidf_std', 'jyfw_tfidf_mean']]

ybjy_tfidf_feat = ybjy_tfidf[[
    'ybjy_tfidf_sum', 'ybjy_tfidf_max', 'ybjy_tfidf_std', 'ybjy_tfidf_mean']]

xkjy_tfidf_feat = xkjy_tfidf[[
    'xkjy_tfidf_sum', 'xkjy_tfidf_max', 'xkjy_tfidf_std', 'xkjy_tfidf_mean']]

df1_feat = pd.concat([df1, jyfw_tfidf_feat,ybjy_tfidf_feat,xkjy_tfidf_feat], axis=1)
df1_feat.drop(['xkjy', 'ybjy', 'jyfw', 'fenci1','fenci2','fenci3', 'jyfwfenci','ybjyfenci','xkjyfenci'], axis=1, inplace=True)

Building prefix dict from the default dictionary ...
Loading model from cache /tmp/jieba.cache
Loading model cost 0.636 seconds.
Prefix dict has been built succesfully.

In [2]:
df1_feat.head(2)

,EID,rgcash,rgcashtype,etype,hy,rgdate,pnum,invnum,invcashtype,period,...,jyfw_tfidf_std,jyfw_tfidf_mean,ybjy_tfidf_sum,ybjy_tfidf_max,ybjy_tfidf_std,ybjy_tfidf_mean,xkjy_tfidf_sum,xkjy_tfidf_max,xkjy_tfidf_std,xkjy_tfidf_mean
0,Q00001,2200,人民币元,有限责任公司,E,2014-07-17,2.0,0,NaN,49,...,0.011975,0.000644,4.476431,0.415565,0.012012,0.000648,4.476431,0.415565,0.012012,0.000648
1,Q00007,110,人民币元,有限责任公司(自然人独资),F,2016-09-05,4.0,0,NaN,23,...,0.011981,0.000518,3.602491,0.398430,0.012018,0.000521,3.602491,0.398430,0.012018,0.000521

In [3]:
df1 = df1_feat

In [4]:
df2 = pd.read_csv('Desktop/复赛/test/民商事裁判文书2.csv')
df2.columns = ['EID', 'sue_pos', 'sue_dep', 'sue_type', 'sue_cash',
               'paper_type', 'proc', 'end_date']

df2['end_date'] = df2.end_date.apply(lambda x: x.replace('年','/'))   
df2['end_date'] = df2.end_date.apply(lambda x: x.replace('月',' '))  
df2.end_date = pd.to_datetime(df2.end_date)

df2['end'] = pd.to_datetime('2018/8')
df2.end_date = pd.to_datetime(df2.end_date)
df2['period'] = (df2.end.dt.year - df2.end_date.dt.year) * 12 + df2.end.dt.month - df2.end_date.dt.month
df2.drop(['end'], axis=1, inplace=True)
df2.head(2)

,EID,sue_pos,sue_dep,sue_type,sue_cash,paper_type,proc,end_date,period
0,Q00014,被告,江苏省苏州市相城区人民法院,买卖合同纠纷,142000,民事判决书,一审,2017-05-01,15
1,Q00014,原告,江苏省苏州市吴江区人民法院,买卖合同纠纷,0,民事裁定书,一审,2015-04-01,40

In [5]:
df3 = pd.read_csv('Desktop/复赛/test/民商事审判流程3.csv')
df3.columns = ['EID', 'sue_pos', 'sue_dep', 'sue_type', 'notice_type',
               'date_type', 'spec_date']
df3['spec_date'] = df3.spec_date.apply(lambda x: x.replace('年','/'))   
df3['spec_date'] = df3.spec_date.apply(lambda x: x.replace('月',' '))
df3.spec_date = pd.to_datetime(df3.spec_date)

df3['end'] = pd.to_datetime('2018/8')
df3.spec_date = pd.to_datetime(df3.spec_date)
df3['period'] = (df3.end.dt.year - df3.spec_date.dt.year) *12 + df3.end.dt.month - df3.spec_date.dt.month
df3.drop(['end'], axis=1,inplace=True)
df3.head(2)

df3.head(2)

,EID,sue_pos,sue_dep,sue_type,notice_type,date_type,spec_date,period
0,Q00001,原告,上海市奉贤区人民法院,建设工程施工合同纠纷,开庭信息,开庭时间,2016-06-01,26
1,Q00014,原告/上诉人,上海市杨浦区人民法院,买卖合同纠纷,开庭信息,开庭时间,2015-08-01,36

In [6]:
df4 = pd.read_csv('Desktop/复赛/test/行政违法记录4.csv')
df4.columns = ['EID','dep','date_type','spec_date']
df4.drop(['date_type'],axis=1,inplace=True)
df4['spec_date'] = df4.spec_date.apply(lambda x: x.replace('年','/'))   
df4['spec_date'] = df4.spec_date.apply(lambda x: x.replace('月',' '))  
df4.spec_date = pd.to_datetime(df4.spec_date)

df4['end'] = pd.to_datetime('2018/8')
df4.spec_date = pd.to_datetime(df4.spec_date)
df4['period'] = (df4.end.dt.year - df4.spec_date.dt.year) *12 + df4.end.dt.month - df4.spec_date.dt.month
df4.drop(['end'], axis=1,inplace=True)
df4.head(2)

df4.head(2)

      EID            dep  spec_date  period
0  Q00091       昆山市环境保护局 2017-08-01      12
1  Q00117  经检队（总队、支队、大队） 2014-07-01      49

In [7]:
df5 = pd.read_csv('Desktop/复赛/test/欠税名单5.csv')
df5.columns = ['EID','dep','tax_type','tax_date','tax','spec_date']

m = {'10109|城市维护建设税': '城市维护建设税', '10111|印花税': '印花税', '10106|个人所得税': '个人所得税',
     '10110|房产税': '房产税', '10112|城镇土地使用税': '城镇土地使用税', '30203|教育费附加': '教育费附加',
     '10104|企业所得税': '企业所得税', '30216|地方教育附加': '地方教育附加', '10103|营业税': '营业税',
     '10113|土地增值税': '土地增值税', '城市维护建设税': '城市维护建设税', '印花税': '印花税', '个人所得税': '个人所得税',
     '增值税':'增值税',
     '企业所得税': '企业所得税', '城镇土地使用税': '城镇土地使用税', '房产税': '房产税', '营业税': '营业税',
     '土地增值税':'土地增值税', '教育费附加': '教育费附加', '地方教育附加': '地方教育附加', '城建税': '城建税', '增值税增值税': '增值税'}
df5['tax_type'] = df5.tax_type.map(m)

df5['spec_date'] = df5.spec_date.apply(lambda x: '20'+str(x[4:])+'/'+str(x[0:3]) )

df5.spec_date = pd.to_datetime(df5.spec_date)

df5['end'] = pd.to_datetime('2018/8')
df5.spec_date = pd.to_datetime(df5.spec_date)
df5['period'] = (df5.end.dt.year - df5.spec_date.dt.year) *12 + df5.end.dt.month - df5.spec_date.dt.month
df5.drop(['end'], axis=1,inplace=True)
df5.head(2)

df5.head(2)

      EID       dep tax_type tax_date     tax  spec_date  period
0  Q00024  苏州市国家税务局    企业所得税      NaN  191000 2015-09-01      35
1  Q00024  苏州市国家税务局      印花税      NaN   12000 2015-09-01      35

In [8]:
df6 = pd.read_csv('Desktop/复赛/test/纳税非正常户6.csv')
df6.columns = ['EID','dep','date']
df6['date'] = df6.date.apply(lambda x: x.replace('年','/'))   
df6['date'] = df6.date.apply(lambda x: x.replace('月',' '))
df6.date = pd.to_datetime(df6.date)

df6['end'] = pd.to_datetime('2018/8')
df6.date = pd.to_datetime(df6.date)
df6['period'] = (df6.end.dt.year - df6.date.dt.year) *12 + df6.end.dt.month - df6.date.dt.month
df6.drop(['end'], axis=1,inplace=True)
df6.head(2)

      EID          dep       date  period
0  Q00007  苏州地税局第四税务分局 2017-10-01      10
1  Q00055          NaN 2017-11-01       9

In [9]:
df7 = pd.read_csv('Desktop/复赛/test/限制高消费名单7.csv')
df7.columns = ['EID','court','content','date_type','date']
df7.drop('date_type',axis=1,inplace=True)
df7['content'] = df7.content.apply(lambda x: ' '.join(str(x).split(':')[1:]))
df7.date = pd.to_datetime(df7.date)

df7['end'] = pd.to_datetime('2018/8')
df7.date = pd.to_datetime(df7.date)
df7['period'] = (df7.end.dt.year - df7.date.dt.year) *12 + df7.end.dt.month - df7.date.dt.month
df7.drop(['end'], axis=1,inplace=True)

df7['content'] = pd.to_numeric(df7.content)
df7.head(2)

      EID          court   content       date  period
0  Q00024     上海市嘉定区人民法院  796964.0 2016-06-22      26
1  Q00168  江苏省无锡市新吴区人民法院       NaN 2017-08-04      12

In [10]:
df8 = pd.read_csv('Desktop/复赛/train/失信老赖名单8.csv')
df8.columns = ['EID']
df8.head(2)

      EID
0  Q00005
1  Q00012

In [10]:
import featuretools as ft

In [11]:
es = ft.EntitySet(id = 'df1')

In [12]:
es = es.entity_from_dataframe(
    entity_id='df1', dataframe=df1, 
    variable_types = {'rgcashtype': ft.variable_types.Categorical,
                     'etype': ft.variable_types.Categorical,
                     'hy': ft.variable_types.Categorical,
                     'invcashtype': ft.variable_types.Categorical},
    index='EID', time_index='rgdate')

In [13]:
df2.head(2)

,EID,sue_pos,sue_dep,sue_type,sue_cash,paper_type,proc,end_date,period
0,Q00014,被告,江苏省苏州市相城区人民法院,买卖合同纠纷,142000,民事判决书,一审,2017-05-01,15
1,Q00014,原告,江苏省苏州市吴江区人民法院,买卖合同纠纷,0,民事裁定书,一审,2015-04-01,40

In [14]:
es=es.entity_from_dataframe(entity_id='df2',dataframe=df2,
                            variable_types={'sue_pos': ft.variable_types.Categorical,
                                            'sue_dep': ft.variable_types.Categorical,
                                            'sue_type': ft.variable_types.Categorical,
                                           'paper_type': ft.variable_types.Categorical,
                                           'proc': ft.variable_types.Categorical},
                            make_index = True,
                            index = 'df2_id',
                            time_index = 'end_date' 
                            )

In [15]:
df3.head(2)

,EID,sue_pos,sue_dep,sue_type,notice_type,date_type,spec_date,period
0,Q00001,原告,上海市奉贤区人民法院,建设工程施工合同纠纷,开庭信息,开庭时间,2016-06-01,26
1,Q00014,原告/上诉人,上海市杨浦区人民法院,买卖合同纠纷,开庭信息,开庭时间,2015-08-01,36

In [16]:
es=es.entity_from_dataframe(entity_id='df3',dataframe=df3,
                            variable_types={'sue_pos': ft.variable_types.Categorical,
                                            'sue_dep': ft.variable_types.Categorical,
                                            'sue_type': ft.variable_types.Categorical,
                                           'notice_type': ft.variable_types.Categorical,
                                           'date_type': ft.variable_types.Categorical},
                            make_index = True,
                            index = 'df3_id',
                            time_index = 'spec_date' 
                            )

In [17]:
df4.head(2)

      EID            dep  spec_date  period
0  Q00091       昆山市环境保护局 2017-08-01      12
1  Q00117  经检队（总队、支队、大队） 2014-07-01      49

In [18]:
es=es.entity_from_dataframe(entity_id='df4',dataframe=df4,
                            variable_types={'dep': ft.variable_types.Categorical},
                            make_index = True,
                            index = 'df4_id',
                            time_index = 'spec_date' 
                            )

In [19]:
df5.head(2)

      EID       dep tax_type tax_date     tax  spec_date  period
0  Q00024  苏州市国家税务局    企业所得税      NaN  191000 2015-09-01      35
1  Q00024  苏州市国家税务局      印花税      NaN   12000 2015-09-01      35

In [20]:
es=es.entity_from_dataframe(entity_id='df5',dataframe=df5,
                            variable_types={'dep': ft.variable_types.Categorical,
                                            'tax_type': ft.variable_types.Categorical,
                                            'tax_date': ft.variable_types.Categorical,
                                           },
                            make_index = True,
                            index = 'df5_id',
                            time_index = 'spec_date' 
                            )

In [21]:
df6.head(2)

      EID          dep       date  period
0  Q00007  苏州地税局第四税务分局 2017-10-01      10
1  Q00055          NaN 2017-11-01       9

In [22]:
es=es.entity_from_dataframe(entity_id='df6',dataframe=df6,
                            variable_types={'dep': ft.variable_types.Categorical},
                            make_index = True,
                            index = 'df6_id',
                            time_index = 'date' 
                            )

In [23]:
df7.head(2)

      EID          court   content       date  period
0  Q00024     上海市嘉定区人民法院  796964.0 2016-06-22      26
1  Q00168  江苏省无锡市新吴区人民法院       NaN 2017-08-04      12

In [24]:
es=es.entity_from_dataframe(entity_id='df7',dataframe=df7,
                            variable_types={'court': ft.variable_types.Categorical},
                            make_index = True,
                            index = 'df7_id',
                            time_index = 'date' 
                            )

In [25]:
es

Entityset: df1
  Entities:
    df1 [Rows: 12518, Columns: 22]
    df2 [Rows: 5498, Columns: 10]
    df3 [Rows: 2934, Columns: 9]
    df4 [Rows: 300, Columns: 5]
    df5 [Rows: 2939, Columns: 8]
    df6 [Rows: 219, Columns: 5]
    df7 [Rows: 21, Columns: 6]
  Relationships:
    No relationships

In [26]:
r2 = ft.Relationship(es['df1']['EID'],
                    es['df2']['EID'])

r3 = ft.Relationship(es['df1']['EID'],
                    es['df3']['EID'])

r4 = ft.Relationship(es['df1']['EID'],
                    es['df4']['EID'])

r5 = ft.Relationship(es['df1']['EID'],
                    es['df5']['EID'])

r6 = ft.Relationship(es['df1']['EID'],
                    es['df6']['EID'])

r7 = ft.Relationship(es['df1']['EID'],
                    es['df7']['EID'])

es = es.add_relationship(r2)
es = es.add_relationship(r3)
es = es.add_relationship(r4)
es = es.add_relationship(r5)
es = es.add_relationship(r6)
es = es.add_relationship(r7)

es

Entityset: df1
  Entities:
    df1 [Rows: 12518, Columns: 22]
    df2 [Rows: 5498, Columns: 10]
    df3 [Rows: 2934, Columns: 9]
    df4 [Rows: 300, Columns: 5]
    df5 [Rows: 2939, Columns: 8]
    df6 [Rows: 219, Columns: 5]
    df7 [Rows: 21, Columns: 6]
  Relationships:
    df2.EID -> df1.EID
    df3.EID -> df1.EID
    df4.EID -> df1.EID
    df5.EID -> df1.EID
    df6.EID -> df1.EID
    df7.EID -> df1.EID

In [27]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100
primitives[primitives['type'] == 'aggregation'].head(10)

,name,type,description
0,num_unique,aggregation,Returns the number of unique categorical variables.
1,all,aggregation,Test if all values are 'True'.
2,n_most_common,aggregation,Finds the N most common elements in a categorical feature.
3,max,aggregation,Finds the maximum non-null value of a numeric feature.
4,any,aggregation,Test if any value is 'True'.
5,min,aggregation,Finds the minimum non-null value of a numeric feature.
6,last,aggregation,Returns the last value.
7,time_since_last,aggregation,Time since last related instance.
8,std,aggregation,Finds the standard deviation of a numeric feature ignoring null values.
9,mode,aggregation,Finds the most common element in a categorical feature.

In [28]:
primitives[primitives['type'] == 'transform'].head(10)

,name,type,description
19,week,transform,Transform a Datetime feature into the week.
20,or,transform,"For two boolean values, determine if one value is 'True'."
21,add,transform,Creates a transform feature that adds two features.
22,isin,transform,"For each value of the base feature, checks whether it is in a provided list."
23,hour,transform,Transform a Datetime feature into the hour.
24,longitude,transform,Returns the second value on the tuple base feature.
25,minute,transform,Transform a Datetime feature into the minute.
26,percentile,transform,"For each value of the base feature, determines the percentile in relation"
27,time_since,transform,Calculates time since the cutoff time.
28,day,transform,Transform a Datetime feature into the day.

In [29]:
features, feature_names = ft.dfs(entityset=es, target_entity='df1', max_depth=2 )

In [30]:
features.shape

(12518, 164)

In [31]:
features.to_csv('Desktop/fusai_data/test.csv',index=False)

# feature_all

In [2]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
train = pd.read_csv('Desktop/fusai_data/train.csv')
test = pd.read_csv('Desktop/fusai_data/test.csv')

In [3]:
train.shape

(20250, 164)

In [4]:
test.shape

(12518, 164)

In [8]:
df8 = pd.read_csv('Desktop/复赛/train/失信老赖名单8.csv')
df8.columns = ['EID']
df8.head(2)

      EID
0  Q00005
1  Q00012

In [9]:
df8['labels'] = 1
df8.head(2)

      EID  labels
0  Q00005       1
1  Q00012       1

In [10]:
org_train = pd.read_csv('Desktop/复赛/train/企业基本信息1.csv')
org_train.columns = ['EID', 'rgcash', 'rgcashtype', 'etype', 'hy',
               'xkjy', 'ybjy', 'jyfw', 'rgdate', 'pnum', 'invnum', 'invcashtype']

In [11]:
train_EID = org_train.EID
train_EID.columns = ['EID']

In [12]:
org_test = pd.read_csv('Desktop/复赛/test/企业基本信息1.csv')
org_test.columns = ['EID', 'rgcash', 'rgcashtype', 'etype', 'hy',
               'xkjy', 'ybjy', 'jyfw', 'rgdate', 'pnum', 'invnum', 'invcashtype']

In [13]:
test_EID = org_test.EID
test_EID.columns = ['EID']

In [14]:
train['EID'] = train_EID
train.shape

(20250, 165)

In [15]:
test['EID'] = test_EID
test.shape

(12518, 165)

In [16]:
train = pd.merge(train,df8,on='EID',how='left')

In [17]:
train.shape

(20250, 166)

In [18]:
train['labels'] = train.labels.fillna(0)
train.labels.value_counts()

0.0    19862
1.0      388
Name: labels, dtype: int64

In [19]:
labels = train.labels

In [20]:
train.drop(['labels'],axis=1,inplace=True)

In [21]:
all_feat = pd.concat([train, test]).reset_index(drop=True)

In [22]:
all_feat.shape

(32768, 165)

In [23]:
all_feat.fillna(0,inplace=True)

In [24]:
all_feat['EID'] = all_feat['EID'].apply(lambda x: int(x[1:]))

In [25]:
all_feat.head(2)

,COUNT(df2),COUNT(df3),COUNT(df4),COUNT(df5),COUNT(df6),COUNT(df7),DAY(rgdate),EID,MAX(df2.period),MAX(df2.sue_cash),...,rgcash,rgcashtype,xkjy_tfidf_max,xkjy_tfidf_mean,xkjy_tfidf_std,xkjy_tfidf_sum,ybjy_tfidf_max,ybjy_tfidf_mean,ybjy_tfidf_std,ybjy_tfidf_sum
0,7.0,3.0,0.0,0.0,0.0,0.0,25,2,52.0,3139000.0,...,220,人民币元,0.291291,0.000564,0.010664,4.949267,0.291292,0.000564,0.010663,4.949267
1,4.0,0.0,0.0,0.0,0.0,0.0,13,4,30.0,187000.0,...,55,人民币元,0.467066,0.000363,0.010673,3.186595,0.467073,0.000363,0.010672,3.186513

In [26]:
all_feat = pd.get_dummies(all_feat)

In [27]:
train_count = train.shape[0]
test_count = test.shape[0]

train_feat = all_feat[:train_count].reset_index(drop=True)
test_feat = all_feat[-test_count:].reset_index(drop=True)

In [28]:
train_feat.shape

(20250, 1763)

In [29]:
test_feat.shape

(12518, 1763)

# upsampling

In [78]:
d = pd.concat([train_feat,labels],axis=1)

from sklearn.utils import resample

d_majority = d[d.labels==0]
d_minority = d[d.labels==1]

d_minority_upsampled = resample(d_minority,
                               replace=True,
                               n_samples=19882,
                               random_state=456)

d_upsampled = pd.concat([d_majority,d_minority_upsampled])

d_upsampled.labels.value_counts()

1.0    19882
0.0    19882
Name: labels, dtype: int64

In [79]:
train_feat = d_upsampled.drop('labels',axis=1)
labels = d_upsampled.labels

# downsampling

In [28]:
d = pd.concat([train_feat,labels],axis=1)

In [29]:
from sklearn.utils import resample

d_majority = d[d.labels==0]
d_minority = d[d.labels==1]

d_majority_downsampled = resample(d_majority,
                               replace=True,
                               n_samples=368,
                               random_state=456)

d_downsampled = pd.concat([d_majority_downsampled,d_minority])

d_downsampled.labels.value_counts()

1.0    368
0.0    368
Name: labels, dtype: int64

In [30]:
train_feat = d_downsampled.drop('labels',axis=1)
labels = d_downsampled.labels

In [31]:
train_feat.shape,labels.shape

((736, 1701), (736,))

# feature selection

In [26]:
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier

In [27]:
clf = RandomForestClassifier(n_estimators=100,max_features='sqrt')
clf = clf.fit(train_feat, labels)

In [28]:
model = SelectFromModel(clf, prefit=True)
train_reduced = model.transform(train_feat)
print(train_reduced.shape)

(40500, 181)

In [29]:
test_reduced = model.transform(test_feat)
print(test_reduced.shape)

(12518, 181)

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
train_x,test_x,train_y,test_y = train_test_split(train_feat,labels,test_size = 0.3)

In [36]:
train_x.shape,test_x.shape,train_y.shape,test_y.shape

((14175, 1763), (6075, 1763), (14175,), (6075,))

# xgboost

In [32]:
import xgboost as xgb

In [33]:
params={
 #   'booster':'gbtree',
 #   'objective':'binary:logistic',
 #   'eval_metric': 'auc',
 #   'learning_rate':0.1,
 #   'n_estimators':100,
 #   'max_depth':10,
 #   'gamma':0,
 #   'subsample':0.8,
 #   'colsample_bytree':0.8,
 #   'scale_pos_weight':1,
 #   'seed':27,
 #   'nthread':8,
 #   'silent':1
    
    
    
    
    'booster':'gbtree',
    'objective':'binary:logistic',
    'eval_metric': 'auc',
    'gamma':0,
    'max_depth':10,
    'subsample':0.7,
    'colsample_bytree':0.7,
    'stratified':True,
    'min_child_weight':15,
    'learning_rate':0.1,
    'seed':20,
    'silent':1
}

In [43]:
dtrain = xgb.DMatrix(train_feat,label=labels)
dtest = xgb.DMatrix(test_feat)

In [44]:
res = xgb.cv(params,dtrain,num_boost_round=2000,nfold=5,early_stopping_rounds=50)

In [45]:
watchlist = [(dtrain, 'train')]
model = xgb.train(params, dtrain, len(res), watchlist)

[0]	train-auc:0.615439
[1]	train-auc:0.897206
[2]	train-auc:0.905379
[3]	train-auc:0.911569
[4]	train-auc:0.91111
[5]	train-auc:0.916664
[6]	train-auc:0.916674
[7]	train-auc:0.917068
[8]	train-auc:0.922005
[9]	train-auc:0.928036
[10]	train-auc:0.927768
[11]	train-auc:0.933008
[12]	train-auc:0.936921
[13]	train-auc:0.938656
[14]	train-auc:0.942582
[15]	train-auc:0.945021
[16]	train-auc:0.945289
[17]	train-auc:0.945636
[18]	train-auc:0.946593
[19]	train-auc:0.948296
[20]	train-auc:0.948879
[21]	train-auc:0.950032
[22]	train-auc:0.951948
[23]	train-auc:0.952439
[24]	train-auc:0.95378
[25]	train-auc:0.954549
[26]	train-auc:0.955469
[27]	train-auc:0.956112
[28]	train-auc:0.956687
[29]	train-auc:0.956685
[30]	train-auc:0.956422
[31]	train-auc:0.956983
[32]	train-auc:0.956835
[33]	train-auc:0.957706
[34]	train-auc:0.957979
[35]	train-auc:0.95833
[36]	train-auc:0.95807
[37]	train-auc:0.959076
[38]	train-auc:0.959187
[39]	train-auc:0.959741
[40]	train-auc:0.960116
[41]	train-auc:0.960611
[42]	train-auc:0.961053
[43]	train-auc:0.96148
[44]	train-auc:0.961201
[45]	train-auc:0.961457
[46]	train-auc:0.961725

In [34]:
dtrain = xgb.DMatrix(train_reduced,label=labels)

In [35]:
dtest = xgb.DMatrix(test_reduced)

In [36]:
res = xgb.cv(params,dtrain,num_boost_round=2000,nfold=5,early_stopping_rounds=50)

In [37]:
watchlist = [(dtrain, 'train')]
model = xgb.train(params, dtrain, len(res), watchlist)

[0]	train-auc:0.598415
[1]	train-auc:0.598957
[2]	train-auc:0.900517
[3]	train-auc:0.914712
[4]	train-auc:0.922607
[5]	train-auc:0.922604
[6]	train-auc:0.929257
[7]	train-auc:0.933282
[8]	train-auc:0.934236
[9]	train-auc:0.937348
[10]	train-auc:0.939015
[11]	train-auc:0.938889
[12]	train-auc:0.938334
[13]	train-auc:0.937713
[14]	train-auc:0.936248
[15]	train-auc:0.939472
[16]	train-auc:0.938005
[17]	train-auc:0.942302
[18]	train-auc:0.940491
[19]	train-auc:0.939244
[20]	train-auc:0.941734
[21]	train-auc:0.944083
[22]	train-auc:0.944802
[23]	train-auc:0.943674
[24]	train-auc:0.942364
[25]	train-auc:0.944373
[26]	train-auc:0.94596
[27]	train-auc:0.94829
[28]	train-auc:0.948687
[29]	train-auc:0.94941
[30]	train-auc:0.949764
[31]	train-auc:0.949318
[32]	train-auc:0.9493
[33]	train-auc:0.948391
[34]	train-auc:0.949416
[35]	train-auc:0.949367
[36]	train-auc:0.950295
[37]	train-auc:0.951781
[38]	train-auc:0.951894
[39]	train-auc:0.953506
[40]	train-auc:0.953446
[41]	train-auc:0.954631
[42]	train-auc:0.95502
[43]	train-auc:0.955585
[44]	train-auc:0.956342
[45]	train-auc:0.956758
[46]	train-auc:0.957268
[47]	train-auc:0.957545

In [46]:
ypred = model.predict(dtest)

In [47]:
ypred

array([0.09719598, 0.10322818, 0.08600242, ..., 0.11404815, 0.07568297,
       0.07234761], dtype=float32)

In [48]:
len(ypred)

12518

In [49]:
result = pd.DataFrame({'EID': test.EID, 'FORTARGET': [
                      1 if i > 0.5 else 0 for i in ypred], 'PROB': ypred})

In [50]:
result.to_csv('Desktop/xgb2.csv',index=False)

# model stacking

In [ ]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
#from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost.sklearn import XGBClassifier
from sklearn.svm import SVC
from mlxtend.classifier import StackingClassifier
import numpy as np

clf1 = KNeighborsClassifier(n_neighbors=1)
clf2 = RandomForestClassifier(random_state=1)
#clf3 = GaussianNB()
clf4 = GradientBoostingClassifier()
clf5 = AdaBoostClassifier()
clf6 = XGBClassifier()
clf7 = SVC()
lr = LogisticRegression()
sclf = StackingClassifier(classifiers=[clf1,clf2,clf4,clf5,clf6,clf7],
                         meta_classifier=lr)

print('5-fold cross validation:\n')

for clf, label in zip([clf1, clf2,clf4, clf5, clf6,clf7,sclf],
                     ['KNN',
                     'Random Forest',
                #     'Naive Bayes',
                     'Gradient Boosting',
                     'AdaBoost',
                     'xgboost',
                      'SVC',
                      'StackingClassifier']):
                
    scores = model_selection.cross_val_score(clf,train_reduced,labels,
                                            cv=5,scoring='accuracy')
                      
    
    print('Accuracy: %0.2f (+/- %0.2f) [%s]'
          % (scores.mean(), scores.std(), label))

5-fold cross validation:

Accuracy: 0.86 (+/- 0.16) [KNN]
Accuracy: 0.91 (+/- 0.09) [Random Forest]
Accuracy: 0.88 (+/- 0.15) [Gradient Boosting]
Accuracy: 0.96 (+/- 0.03) [AdaBoost]

/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Accuracy: 0.88 (+/- 0.15) [xgboost]

In [34]:
train_pred = sclf.predict(train_reduced).astype(int)
print(np.unique(train_pred))

/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

[0 1]

In [35]:
from sklearn.metrics import roc_auc_score

prob_train_pred = sclf.predict_proba(train_reduced)

prob_train_pred = [p[1] for p in prob_train_pred]

print(roc_auc_score(labels,prob_train_pred))

/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

1.0

# output test result

In [36]:
test_pred = sclf.predict(test_reduced).astype(int)

prob_test_pred = sclf.predict_proba(test_reduced)
prob_test_pred = [p[1] for p in prob_test_pred]

/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/ian/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [37]:
print(np.unique(test_pred))

[0 1]

In [38]:
pd.DataFrame({'EID': test.EID, 'FORTARGET': test_pred, 'PROB': prob_test_pred}).to_csv(
    'Desktop/result_5.csv', index=False)